html, body {
    height: 100%;
}

body {
    text-rendering: optimizeLegibility!important;
    background-color: rgb(36, 37, 38);
    background-attachment: fixed;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'PT Serif', 'Noto Serif', serif;
}

header {
    margin-top: 2px;
}

#logo {
    max-width: 85%;
    max-height: 190px;
    display: block;
    margin: 0 auto;
}

nav {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    font-family: Xolonium, sans-serif;
}

nav > a {
    margin: 0;
    outline: none;
    color: rgba(255, 255, 255, .6);
    border: 1px solid #374a7f;
    padding: .375em .75em;
    border-radius: .5rem;
    user-select: none;
    line-height: 1.5;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: color 140ms ease-in-out,
                background-color 140ms ease-in-out,
                border-color 140ms ease-in-out,
                box-shadow 140ms ease-in-out;
}

nav > a:hover {
    color: #fff;
    background-color: #375a7f;
    text-decoration: none;
}

nav > a:focus {
    color: #fff;
    box-shadow: 0 0 0.35rem rgba(85, 115, 146, 0.7);
    text-decoration: none;
}

nav > a.active {
    color: #fff;
    background-color: #375a7f;
    border-color: transparent;
}

main {
    flex: 1 0 auto;
    text-align: justify;
    margin: 28px auto;
    max-width: 800px;
    padding-left: 18px;
    padding-right: 18px;
}

footer {
    flex-shrink: 0;
    margin-top: 5px;
    padding-bottom: 15px;
    text-align: center;
    font-size: .82rem;
}

a {
    text-decoration: none;
    color: #00bc8c;
    background-color: transparent;
}

a[download]::before {
    content: '\f56d';
    font-weight: 400;
    font-family: 'Font Awesome 5 Free';
    display: inline-block;
    padding-right: 0.4em;
}

a:hover {
    color: #007053;
    text-decoration: underline;
}

abbr {
    cursor: help;
    text-decoration: underline dotted;
}

.irc-server, .irc-room {
    font-family: 'PT Mono', monospace;
    color: #eee;
}

.irc-room {
    border: 1px solid rgba(204, 204, 204, 0.9);
    border-radius: 0.25rem;
    padding: 0.075rem;
    background-color: rgba(204, 204, 204, 0.1);
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
    line-height: 1.5;
}

time {
    text-decoration: dashed underline;
}

ul.demo-list {
    list-style: disc;
    padding-left: 2.5em;
    padding-left: clamp(1em, 5vw, 2.5em);
    text-align: left;
    line-height: 1.5;
}

.demo-info {
    display: inline-block;
}

.grafana-iframe {
    width: 800px;
    height: 320px;
}

@media screen and (max-width: 840px) {
    .grafana-iframe {
        width: 100%;
        height: 250px;
    }
}

@media screen and (max-width: 550px) {
    nav {
        margin-top: 15px;
    }
    main {
        margin: 15px auto;
    }
}


@font-face {
    font-family: "Xolonium";
    src: url('/fonts/xolonium-regular.eot');
    src:
        url('/fonts/xolonium-regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/xolonium-regular.woff2') format('woff2'),
        url('/fonts/xolonium-regular.woff') format('woff'),
        url('/fonts/xolonium-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

